<div class="monitoring">
  <div class="toolbar">
    <div class="toolbar-logo">
      Buzzitor
    </div>
    <div class="toolbar-controls">
      <div class="toolbar-address">
        <a href="<%= @context.url %>" target="_blank">
          <%= @context.url %>
          <%= fa_icon('external-link') %>
        </a>
      </div>
      <div>
        <form id="pause_form"
          class="pull-left"
          action="<%= monitoring_context_path(@context) %>"
          data-remote="true"
          method="put">
          <button id="pause" disabled="disabled" name="monitoring_context[active]" value="0">
            <%= fa_icon('pause') %> Pause
          </button>
          <button id="resume" disabled="disabled" name="monitoring_context[active]" value="1" style="display: none">
            <%= fa_icon('play') %> Resume
          </button>
        </form>
        <form id="delete_form"
          class="pull-left"
          action="<%= monitoring_context_path(@context) %>"
          data-remote="true"
          method="delete">
          <button type="submit">
            <%= fa_icon('trash') %> Delete
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="result">
    <div class="loading">
      Loading...
    </div>
    <iframe class="content" style="display: none"></iframe>
  </div>
</div>
<script>
 App.MonitoringPreview.init("<%= @context.id %>");
 App.MonitoringSubscription.init("<%= @context.id %>");
</script>
